.project-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    height: 40rem;
    gap: 3rem;
    border-radius: 1.7rem;
    background-color: var(--color3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.project-img-container {
    height: auto;
    overflow: hidden;
    flex: 2;
    max-width: 53rem;
    border-radius: 1.7rem;
    background-color: hsla(0, 0%, 46%, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.project-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.project-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    text-align: center;
    flex: 1;
    max-width: 53rem;
}

.project-text-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--color1);
    text-transform: uppercase;
}

.project-text-container p {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    color: var(--color5);
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;
    justify-content: center;
    margin-top: 2rem;
}

.stack p {
    background-color: var(--color3);
    color: #000 !important;
    font-family: Mulish, sans-serif !important;
    font-weight: 600 !important;
}

.links {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    justify-content: center;
    margin-top: 2rem;
}

.links a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);

}

.links a i {
    font-size: 2.8rem;
}

.links a .link-icon {
    font-size: 2rem !important;
}

.links a img {
    width: 3.5rem;
}

.links a:hover {
    color: var(--color2);
    transition: all .3s;
}

@media (max-width:1248px) {
    .project-container {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        margin: 0 auto;
    }

    .project-text-container {
        margin: 0 auto;
        width: 53rem;
    }
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }

    .project-img-container,
    .project-text-container {
        width: 100%;
    }

    .project-text-container h3 {
        font-size: 1.5rem;
    }

    .project-text-container p {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .project-container {
        width: 100%;  /* Full width on small screens */
        padding: 1rem;  /* Reduce padding for very small screens */
    }

    .project-text-container {
        width: 100%;
    }
}
