/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
} */

/* @media (min-width: 900px) {
    .container {
        color: #fff;
        background-color: #000;
    }
}

@media (max-height: 300px) {
    .container {
        color: #fff;
        background-color: #d00c0c;
    }
} */