.contact-container {
    padding: 8rem;
    background-color: var(--color3);
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-title h3 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color2);
    text-transform: uppercase;
}

.contact-title h4 {
    font-size: 2.5rem;
    color: var(--color1);
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8rem;
}

.contact-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color1);
    color: #fff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-icons a:hover {
    background-color: var(--color2);
    transform: translateY(-10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1248px) {
    .contact-content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1020px) {
    .contact-icons a {
        height: 10rem;
        width: 10rem;
    }

    .contact-icons i {
        font-size: 1.5rem;
    }
}

@media (max-width: 1020px) {
    .contact-icons a {
        height: 13rem;
        width: 13rem;
    }

    .contact-icons i {
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    .contact-container {
        padding: 8rem 5rem;
    }
}

@media (max-width: 750px) {
    .contact-icons {
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .contact-title {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .contact-container {
        padding: 8rem 3rem;
    }
}