nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2.5rem 8rem;
    font-size: 1.7rem;
    background-color: var(--color3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    z-index: 200;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

nav ul a {
    color: var(--color1);
    font-weight: 600;
    transition: all .23s;
}

nav ul a:hover {
    color: var(--color2);
}

.logo {
    color: var(--color1);
    cursor: pointer;
    transition: all .23s;
}

.logo:hover {
    color: var(--color2);
}

.hamburger-menu {
    cursor: pointer;
    display: none;
    font-size: 2.3rem;
}

.hamburger-menu:hover {
    color: var(--color2);
    transition: all .3s;
}

@media (max-width: 900px) {
    nav {
        padding: 2.5rem 5rem;
    }

    nav ul a {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media (max-width: 400px) {
    nav {
        padding: 2.5rem 3rem;
    }
}