:root {
    --color1: #2d2e32;
    --color2: #147efb;
    --color3: #fff;
    --color4: #f9f9f9;
    --color5: #767676;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    background-color: var(--color3);
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

.page-container {
    margin: 0 auto;
    width: 100%;
    margin: 0 8rem;
}

@media (max-width:460px) {
    .page-container {
        padding: 0 1.7rem;
    }
}